.idea
node_modules
*.bat

doc/*.docx
doc/*.doc
doc/*.pdf

Projet/*

dev/resources/application/audio/*mp3
dev/css/vendor/*.css
dev/js/vendor/*.js

AppMobile/*
AppWeb/*

tests/AppMobile/*
tests/AppWeb/*