.idea
node_modules
*.bat

documentation/*

Ressources/*

dev/resources/application/audio/*mp3
dev/css/vendor/*.css
dev/js/vendor/*.js
dev/resources/documentation/*

AppMobile/*
AppWeb/*

tests/AppMobile/*
tests/AppWeb/*